@import "tailwindcss";

.br{
    border: 2px solid red;
}


.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    width: 100%;
    height: 100vh;
    background: #0F0C29;
    background: linear-gradient(172deg, rgba(15, 12, 41, 1) 0%, rgba(48, 43, 99, 1) 49%, rgba(36, 36, 62, 1) 100%);
}


.mainbox {
    width: 350px;
    height: 500px;
    background: #1C183F;
    overflow: hidden;
    background: linear-gradient(172deg, rgba(28, 24, 63, 1) 0%, rgba(42, 39, 80, 1) 100%);
    /* -webkit-box-shadow: 0px 0px 23px 3px #000000;  */
    box-shadow: 5px 20px 50px #000000;
    border-radius: 10px;
    margin: 100px auto;
}